@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-space-item{
    width: 100%;
}
.ant-drawer-close, .ant-drawer-title{
    color: white !important;
}
/* #211D22 */
.ant-modal-content, .ant-modal-title{
    background-color: #111827 !important; 
    color: white !important;
}
.ant-modal-close{
    color: rgb(179, 179, 179) !important;
}
.button, [type='button']{
    background-color: #1C1B19;
    border: 1 solid white;
    color: white;
}
.button, [type='button']:hover{
    background-color: #1C1B19;
}